
.signin {
    max-width: 550px; 
    margin: auto;
    margin-top: 50px;
    }

    .search {
        width: 60%;
        margin: auto;
        /*border: solid;*/
      }

    
.card-footer {
    display: flex;
    justify-content: center;
    }
 
.psize {
    font-size: 1.25em;
    font-weight: bolder;
    margin-left: 10px; 
    
}

.col {
    margin-bottom: 30px;
}

.page {
    display: flex;
    justify-content: center;
}

.wide {
    width: 580px;
}

.small {
    width: 45px;
}

.navbar-brand > img {

    width: 100px; 
}

.header {
    font-family: 'Monoton', cursive;
    margin-top: 30px;
    margin-bottom: 30px;
}

.fas.fa-cart-arrow-down {
    font-size: 20px; 
    color: black;
}

/* shopping cart data */

tr > td > img {
    width:40px;
}

h4.ml-auto {
    width: 45%;
        
}

#inlineFormCustomSelect {
    width: 100px;
}

.btn-group { 
    margin-left: 70%;
    margin-top: 300px; 
    border: 1px solid black;
}

table {
    border: 1px solid black; 
}