
.signin {
    max-width: 550px; 
    margin: auto;
    margin-top: 50px;
    }

    .search {
        width: 60%;
        margin: auto;
        /*border: solid;*/
       }

    
.card-footer {
    display: flex;
    justify-content: center;
    }
 
.psize {
    font-size: 1.25em;
    font-weight: bolder;
    margin-left: 10px; 
    
}

.col {
    margin-bottom: 30px;
}

.page {
    display: flex;
    justify-content: center;
}

.wide {
    width: 580px;
}

.small {
    width: 45px;
}

.navbar-brand > img {

    width: 100px; 
}

.header {
    font-family: 'Monoton', cursive;
    margin-top: 30px;
    margin-bottom: 30px;
}

.fas.fa-cart-arrow-down {
    font-size: 20px; 
    color: black;
}

/* shopping cart data */

tr > td > img {
    width:40px;
}

h4.ml-auto {
    width: 45%;
        
}

#inlineFormCustomSelect {
    width: 100px;
}

.btn-group { 
    margin-left: 70%;
    margin-top: 300px; 
    border: 1px solid black;
}

table {
    border: 1px solid black; 
}

ul > li > img {
    width: 300px;
}

.row.search {
    width: 60%;
    margin: auto;
    margin-bottom: 50px; 
}

/* record animation */
@keyframes record {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate {
    animation: record 1s linear infinite both;
    /* animation-name: record;
    animation-duration: 1s;
    animation-iteration-count: infinite; */

}

/* .bg-cover {
    background-image: url("https://dj-dabbs.com/x/cdn/?https://images.unsplash.com/photo-1528590005476-4f5a6f2bdd9e?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */