<div class="container">
    <records-navbar></records-navbar>
    <div class="jumbotron">
        <div class=container>
            <h1 class="display-3">Rec<img src="http://chittagongit.com/download/284420" class="small animate">rds</h1>
            <p class="lead">Find the Record you always wanted...</p>
            <hr class="my-2">
            <p>More info</p>
            <p class="lead">
              <!-- <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Enter Shop</a> -->
            </p>
            <div class="search">
      <div class="row">
        <div class="col-11">
          <input class="form-control wide" type="text" placeholder="Enter Record Name or Artist" ng-model="$root.queryRecord">
        </div>
        <div class="col-1">
          <button class="btn btn-primary" ng-click="filterRecord()"><i class="fas fa-search"></i></button>
        </div>
        
        <!--<input class="form-control">-->
      </div>
    </div>
            <!-- <div class="search-box">
                    <input class="form-control search-input" type="text" placeholder="Enter Record Name or Artist"
                        ng-model="actorSearchText" ng-change="updateSearchResults()"> -->
                        <!-- <button class="btn btn-outline-success my-2 my-sm-0 midbtn" type="submit">Search</button> -->
                <!-- </div> -->
            <!-- <div class="search-box">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control search-input" type="text" placeholder="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0 midbtn" type="submit">Search</button>
                    </form>
                </div> -->
           
                <div class="search-results" ng-show="searchResults.length > 0">
                    <ul class="list-group">
                        <a href="#" ng-repeat="result in searchResults" class="list-group-item list-group-item-action"
                            ng-click="addRecord(result)">{{result.name}}</a>
                    </ul>
                </div>
            </div>
           
        </div>
    </div>
</div>