<div class="container">
  <records-navbar></records-navbar>
  <h1 class="header">Records in cart</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">image</th>
        <th scope="col">Record Name</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Qty</th>
        <th scope="col">Sub Total</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><img
            ng-src="{{record.image}}">
        </td>
        <td>Smasing Pumpkins</td>
        <td>30</td>
        <td>1</td>
        <td>30</td>
        <td><i ng-click="mainVm.deleteItem($index)" class="fa fa-times"></i></td>

      </tr>
      <tr>
        <th scope="row">2</th>
        <td><img
            src="https://upload.wikimedia.org/wikipedia/en/thumb/4/44/SmashingPumpkins-SiameseDream.jpg/220px-SmashingPumpkins-SiameseDream.jpg">
        </td>
        <td>Smasing Pumpkins</td>
        <td>30</td>
        <td>1</td>
        <td>30</td>
        <td><i ng-click="mainVm.deleteItem($index)" class="fa fa-times"></i></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td><img
            src="https://upload.wikimedia.org/wikipedia/en/thumb/4/44/SmashingPumpkins-SiameseDream.jpg/220px-SmashingPumpkins-SiameseDream.jpg">
        </td>
        <td>Smasing Pumpkins</td>
        <td>30</td>
        <td>1</td>
        <td>30</td>
        <td><i ng-click="mainVm.deleteItem($index)" class="fa fa-times"></i></td>
      </tr>
      <!-- <tr>
        <th scope="row">3</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr> -->
      <tr>
        <th scope="row">4</th>
        <td><img
            src="https://upload.wikimedia.org/wikipedia/en/thumb/4/44/SmashingPumpkins-SiameseDream.jpg/220px-SmashingPumpkins-SiameseDream.jpg">
        </td>
        <td>Smasing Pumpkins</td>
        <td>30</td>
        <td>1</td>
        <td>30</td>
        <td><i ng-click="mainVm.deleteItem($index)" class="fa fa-times"></i></td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td><img
            src="https://upload.wikimedia.org/wikipedia/en/thumb/4/44/SmashingPumpkins-SiameseDream.jpg/220px-SmashingPumpkins-SiameseDream.jpg">
        </td>
        <td>Smasing Pumpkins</td>
        <td>30</td>
        <td>1</td>
        <td>30</td>
        <td><i ng-click="mainVm.deleteItem($index)" class="fa fa-times"></i></td>
      </tr>
    </tbody>
  </table>
</div>